@import '../../app/global.css';

.askQuestionFormContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  margin: 1% auto;
  max-width: 60vw;
}
.askQuestionFormTitle {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  color: var(--basic-lightgrey);
}
.askQuestionFormInput {
  width: 100%;
}
.askQuestionFormButton {
  border-style: none;
  display: inline-block;
}

.askQuestionFormCode {
  text-align: left;
  color: var(--basic-lightgrey);
}
