@import '../../app/global.css';

.questionCard {
  max-height: 100%;
  margin-top: 3%;
  border: 0.5px solid lightgray;
  box-shadow: 6px 8px 8px -4px rgba(66, 68, 90, 1);
}

.questionCardHeader {
  display: flex;
  text-align: left;
}

.avatar {
  margin-top: 5%;
  margin-left: 3%;
}

.questionCardMeta {
  color: var(--basic-lightgrey);
}

.questionCardTitle {
  color: var(--basic-lightgrey) !important;
}

.questionCardHeaderInfo {
  padding-top: 3%;
  padding-left: 1%;
}

.questionCardContent {
  padding-top: 3%;
  padding-left: 3%;
  text-align: left;
  color: var(--basic-lightgrey);
}

.questionCardFooter {
  text-align: left;
  padding: 2% 0 3% 3%;
  color: var(--basic-blue);
}

.iconEyes {
  transform: scale(1.5);
}
