.question-card {
  max-height: 100%;
  margin-top: 3%;
  border: 0.5px solid lightgray;
  -webkit-box-shadow: 6px 8px 8px -4px rgba(66, 68, 90, 1);
  -moz-box-shadow: 6px 8px 8px -4px rgba(66, 68, 90, 1);
  box-shadow: 6px 8px 8px -4px rgba(66, 68, 90, 1);
}
.question-card-header {
  display: flex;
  text-align: left;
}
.avatar {
  margin-top: 5%;
  margin-left: 3%;
}
.question-card-meta {
  color: #8c8c8c;
}
.question-card-title {
  color: #8c8c8c !important;
}
.question-card-header-info {
  padding-top: 3%;
  padding-left: 1%;
}
.question-card-contend {
  padding-top: 3%;
  padding-left: 3%;
  text-align: left;
  color: #8c8c8c;
}
.question-card-footer {
  text-align: left;
  padding: 2% 0 3% 3%;
  color: #1890ff;
}
.icon-eyes {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}
